<div class="tab-pane fade show active" style="margin: 30px 0 0 0;">
    <div class="nftmax-table">
        <div class="nftmax-table__main nftmax-table__profile-activity">
            <app-table [columns]="columns" [currentPage]="page.current" [rows]="rows"> </app-table>
            <div style="text-align: center; font-size: 18px; transform: translateY(-250px);"
                class="page-content-overlay" *ngIf="isDataEmpty() && !loading">
                <h2>Không có dữ liệu</h2>
            </div>
        </div>
        <div class="toolbar">
            <app-paginate [page]="page" (pageChange)="pageChange($event)"></app-paginate>
        </div>
        <!-- End NFTMax Table -->
    </div>
</div>