:host {
  display: flex;
  flex-grow: 1;
  align-items: baseline;
  justify-content: flex-end;
  max-height: 65px;
  overflow: hidden;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding-top: 14px;

  .paginate-index {
    margin-right: 50px;
    font-size: small;
    color: rgba(0, 0, 0, .54);
  }
}