<form [formGroup]="formChangePassword" class="">
    <mat-dialog-content>

        <div class="is-full" style="padding: 0 0 40px;">
            <span class="p-float-label">
                <input pInputText id="float-input" formControlName="current_password" type="password" />
                <label for="float-input">Mật khẩu hiện tại</label>
            </span>
        </div>

        <div class="is-full" style="padding: 0 0 40px;">
            <span class="p-float-label">
                <input pInputText id="float-input" formControlName="password" type="password" />
                <label for="float-input">Mật khẩu mới</label>
            </span>
        </div>

        <div class="is-full" style="padding: 0;">
            <span class="p-float-label">
                <input pInputText id="float-input" formControlName="confirm_password" type="password" />
                <label for="float-input">Xác nhận mật khẩu mới</label>
            </span>
        </div>

    </mat-dialog-content>

    <div class="nftmax__item-button--group nftmax__ptabs-bottom d-flex justify-content-center">
        <div class="right d-flex align-items-center gap-4">
            <button [disabled]="formChangePassword.invalid" (click)="onSubmit()"
                class="nftmax__item-button--single nftmax-btn nftmax-btn__bordered bg radius" type="submit">Lưu mật
                khẩu</button>
        </div>

    </div>

</form>

<p-toast></p-toast>